html {
    background: rgb(64, 182, 64);
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.menu{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: white;
    position: relative;
}

span{
    background-color: #104339;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.words{
    display: flex;
    color: #fff;
    margin: 20px;
    padding: 20px;
    gap: 25px;
}


.words section {
    flex-grow: 1;
    flex-basis: 0;
    background: #104339;
    border-radius: 20px;
    margin-top: 25px;
}

.words section p {
    margin: 25px;
}

.words section h2 {
    margin: 25px;
}

.words{
    line-height: 25px;
}

.form{
    margin-left: 25px;
}